<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A&Z Nuestra Boda</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h2>¡Nos Casamos!</h2>
        <h1>Carlos & Astrid</h1>
        <p>30 de febrero del 2025 - Culiacán, Sin.</p>
    </header>

    <section id="countdown">
        <h2>Cuenta Regresiva</h2>
        <p id="timer">00 días 00:00:00</p>
    </section>

    <section id="event-info">
        <h2>Detalles del Evento</h2>
        <div id="ceremony"></div>
        <div id="reception"></div>
    </section>

    <section id="rsvp">
        <h2>Confirma tu Asistencia</h2>
        <button id="confirm-btn">Confirmar</button>
    </section>

    <script src="script.js"></script>
</body>
</html>
