<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A&Z Nuestra Boda</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h2>¡Nos Casamos!</h2>
      <h1 class="font-secondary">Carlos & Astrid</h1>
    </header>

    <section id="countdown">
      <div class="countdown-date">
        <h2 class="font-secondary text-color-contrast my-md">Save the date</h2>
        <h2 class="text-color-contrast my-md">30 de febrero del 2025</h2>
        <p class="text-color-contrast my-md">Culiacán, Sin.</p>
      </div>
      <div class="countdown-details">
        <div class="countdown-details-box box-shadow-1">
          <p id="days" class="countdown-details-box--value"></p>
          <p class="countdown-details-box--item">Días</p>
        </div>

        <p class="countdown-details-divider">:</p>

        <div class="countdown-details-box box-shadow-1">
          <p id="hours" class="countdown-details-box--value"></p>
          <p class="countdown-details-box--item">Horas</p>
        </div>

        <p class="countdown-details-divider">:</p>

        <div class="countdown-details-box box-shadow-1">
          <p id="minutes" class="countdown-details-box--value"></p>
          <p class="countdown-details-box--item">Minutos</p>
        </div>

        <p class="countdown-details-divider">:</p>

        <div class="countdown-details-box box-shadow-1">
          <p id="seconds" class="countdown-details-box--value"></p>
          <p class="countdown-details-box--item">Segundos</p>
        </div>
      </div>
    </section>

    <section id="nupcial">
      <h3 class="nupcial-title text-center">
        Acompañanos a celebrar nuestra unión, en compañía de nuestros:
      </h3>

      <h2 class="text-center font-secondary text-color-accent">Padres</h2>
      <div class="nupcial-parents">
        <div class="nupcial-parents-left">
          <p>Luis Fernando Lopez Gomez</p>
          <p>Guadalupe Hernandez Diaz</p>
        </div>

        <div class="nupcial-parents-right">
          <p>Carlos Armando Gonzalez Morales</p>
          <p>Maria Josefina Aguilar Castro</p>
        </div>
      </div>

      <div class="nupcial-padrinos">
        <div class="nupcial-padrinos-lazo">
          <h2 class="text-center font-secondary text-color-accent">
            Padrinos de lazo
          </h2>
          <p>Luis Fernando Lopez Gomez</p>
          <p>Guadalupe Hernandez Diaz</p>
        </div>
        <div class="nupcial-padrinos-anillos">
          <h2 class="text-center font-secondary text-color-accent">
            Padrinos de anillos
          </h2>
          <p>Carlos Armando Gonzalez Morales</p>
          <p>Maria Josefina Aguilar Castro</p>
        </div>
      </div>

      <div id="ceremony"></div>
      <div id="reception"></div>
    </section>

    <section id="rsvp">
      <h2>Confirma tu Asistencia</h2>
      <button id="confirm-btn">Confirmar</button>
    </section>

    <script src="script.js"></script>
  </body>
</html>
