/*SECCION PARA INCRUSTAR LA FUENTE PRINICIPAL Y SECUNDARIA*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '../components/countdown.css';
@import '../components/nupcial.css';
/*FIN DE SECCION*/

:root {
  --color-primary: #212402;
  --color-secondary: #38502e;
  --color-accent: #828945;
  --color-background: #e9ded2;
  --color-contrast: #ffffff;
  --font-primary: 'Montserrat', serif;
  --font-secondary: 'Dancing Script', serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: var(--font-primary);
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--color-secondary);
}

h1 {
  font-size: 3em;
  font-family: var(--font-secondary);
  font-weight: bold;
}

.font-primary {
  font-family: var(--font-primary);
}

.font-secondary {
  font-family: var(--font-secondary);
}

button {
  background: var(--color-accent);
  background-color: var(--color-contrast);
}

.text-color-accent {
  color: var(--color-accent);
}

.text-color-contrast {
  color: var(--color-contrast);
}

.m-sm {
  margin: 4px;
}

.mx-sm {
  margin-left: 4px;
  margin-right: 4px;
}

.my-sm {
  margin-top: 4px;
  margin-bottom: 4px;
}

.m-md {
  margin: 8px;
}

.mx-md {
  margin-left: 8px;
  margin-right: 8px;
}

.my-md {
  margin-top: 8px;
  margin-bottom: 8px;
}

.box-shadow-1 {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(176, 176, 176, 1);
  -moz-box-shadow: 1px 4px 6px 0px rgba(176, 176, 176, 1);
  box-shadow: 1px 4px 6px 0px rgba(176, 176, 176, 1);
}

.text-center {
  text-align: center;
}
