header {
  .bigger-text {
    font-size: 4em;
    height: 80vh;
  }
  .banner-text {
    display: contents;
    position: relative;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
    h2.getting-married {
      position: absolute;
      left: 50%; /* Position horizontally in the middle */
      transform: translate(-50%, -50%);
      color: var(--color-contrast);
    }
    h1.groom {
      position: absolute;
      left: 10%;
      color: var(--color-contrast);
    }
    h1.and {
      position: absolute;
      top: 9%;
      left: 50%;
      font-size: 2rem;
      color: var(--color-contrast);
    }
    h1.bride {
      position: absolute;
      top: 6%;
      right: 10%;
      color: var(--color-contrast);
    }
  }
  .banner-img {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Tablets y superiores */
@media (min-width: 1024px) {
  header {
    display: flex;
  }
  .bigger-text {
    font-size: 5em;
  }
  .banner-text {
    flex: 1;
    display: initial !important;
    text-shadow: none !important;
    .getting-married {
      position: absolute;
      top: 50px; /* position from top */
      left: 50% !important; /* position from left */
      color: var(--color-secondary) !important;
    }
    .groom {
      top: 60px;
      left: 20% !important;
      color: var(--color-secondary) !important;
    }
    .and {
      top: 35% !important;
      left: 50% !important;
      color: var(--color-secondary) !important;
    }
    .bride {
      top: 30% !important;
      right: 20% !important;
      color: var(--color-secondary) !important;
    }
  }
  .banner-img {
    flex: 1;
    width: 100%;
    height: auto !important;
    img {
      width: 100%;
      height: auto;
      max-height: 450px;
      border-radius: 999em 40px 40px 999em;
    }
  }
}
